Package: com.broganminer.wave
Name: Wave
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Brogan Miner
Author: Brogan Miner
Section: Tweaks
Version: 1.0.0-1
Installed-Size: 72
