Package: com.broganminer.wave
Name: Wave
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: ALS Device waking
Maintainer: Brogan Miner
Author: Brogan Miner
Section: Tweaks
Version: 1.0.1-2
Installed-Size: 156
