Package: com.broganminer.wave
Name: Wave
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Brogan Miner
Author: Brogan Miner
Section: Tweaks
